@use 'variables';
:root{
    @each $location,$list in variables.$themes {
        @each $key,$vals in $list {
            @each $attr,$val in $vals {
                --#{$location}-#{$key}-#{$attr}:#{$val};
                --#{$location}-#{$attr}:#ffffff;
            }
        }
    }
}

*{
    transition: all 0.5s ease;
}
html {
    scroll-behavior: smooth;
}

@for $i from 1 through 5 {
    .w-#{$i*100}px{
        width: #{$i*100}px;
    }
}

body{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.body{
    @each $location,$list in variables.$themes {
        @each $key,$vals in $list {
            @each $attr,$val in $vals {
                &.#{$location+$key}{
                    --#{$location}-#{$attr}:var(--#{$location}-#{$key}-#{$attr});
                }
            }
        }
    }
    background-color:var(--primary-bg-color);
    color: var(--primary-font-color);
    a{
        color: var(--primary-font-color);
    }
    .container-fluid{
        .nav-bar{
            height: 46px;
            max-height: 46px;
            box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
            z-index: 2030;
            position: relative;
            background-color: var(--nav-bar-bg-color);
            color: var(--nav-bar-font-color);
            a{
                color: var(--nav-bar-font-color);
            }
            &.brand{
                background-color:var(--brand-bg-color);
                color: var(--brand-font-color);
                a{
                    color: var(--brand-font-color);
                }
            }
            &.top-main{
                .top-bar{
                    .topbar-controls{
                        max-width: 70%;
                        .nav-controls{
                            max-width: 80%;
                            width: 80%;
                            .menu-direction-control{
                                margin: 0px 2px;
                            }
                            .nav-container{
                                max-width: 95%;
                                width: 95%;
                                margin-bottom: 0;
                                .nav-icons{
                                    white-space: nowrap;
                                    li{
                                        display: inline-block;
                                        list-style: none;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .row{
            &.left-panel, &.main{
                margin-top: -46px;
                padding-top: 46px;
            }
            .left-panel{
                background: var(--left-panel-bg-color);
                color: var(--left-panel-font-color);
                a{
                    color: var(--left-panel-font-color);
                }
            }
        }
    }
}
.custom-scroll{
    .scroll-x, .scroll-y{
        display: none;
        &.show{
            display: inherit;
        }
    }
}
section.main{
    top: 46px;
    left:0px;
    right: 0px;
    bottom: 0px;
}
#sidebar-left{
    &.show{
        display: block !important; 
    }
}