@use 'variables';
body{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.body{

    @each $location,$list in variables.$themes {
        @each $key,$vals in $list {
            @each $attr,$val in $vals {
                &.#{$location+$key}{
                    --#{$location}-#{$attr}:var(--#{$location}-#{$key}-#{$attr});
                }
            }
        }
    }

    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
    background-color:var(--primary-bg-color);
    color: var(--primary-font-color);

    a{
        color: var(--primary-font-color);
    }
    p{
        font-size: 0.8rem;
    }
    .container-fluid{
        .nav-bar{
            height: 46px;
            max-height: 46px;
            box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
            z-index: 2030;
            position: relative;
            background-color: var(--nav-bar-bg-color);
            color: var(--nav-bar-font-color);
            a{
                color: var(--nav-bar-font-color);
            }
            &.brand{
                background-color:var(--brand-bg-color);
                color: var(--brand-font-color);
                a{
                    color: var(--brand-font-color);
                }
            }
            &.top-main{
                .top-bar{
                    .topbar-controls{
                        max-width: 70%;
                        .nav-controls{
                            max-width: 80%;
                            width: 80%;
                            .menu-direction-control{
                                margin: 0px 2px;
                            }
                            .nav-container{
                                max-width: 95%;
                                width: 95%;
                                margin-bottom: 0;
                                .nav-icons{
                                    white-space: nowrap;
                                    li{
                                        display: inline-block;
                                        list-style: none;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .row{
            &.left-panel, &.main{
                margin-top: -46px;
                padding-top: 46px;
            }
            .left-panel{
                background: var(--left-panel-bg-color);
                color: var(--left-panel-font-color);
                a{
                    color: var(--left-panel-font-color);
                }
                .big-img{
                    margin-bottom: 0;
                    padding-top: 10px;
                    text-align: center;
                    .user-image{
                        margin: auto;
                        width: 60%;
                    }
                    h4{
                        color: var(--left-panel-font-color);
                        margin: auto;
                        margin-bottom: 8px;
                        margin-top: 10px;
                        text-align: center;
                        font-size: 18px;
                    }
                }
                .small-img{
                    padding-bottom: 0;
                    text-align: center;
                    .user-image{
                        max-width: 100px;
                    }
                    .user-details{
                        padding-left: 10px;
                        text-align: left;
                        h4{
                            color: var(--left-panel-font-color);
                            font-size: 18px;
                        }
                    }
                }
                .userlogged{
                    display: block;
                    h4{
                        color: var(--left-panel-font-color);
                        font-size: 18px;
                    }
                }
                .sidebar-footer{
                    background-color:var(--brand-bg-color);
                    color: var(--brand-font-color);
                    a{
                        color: var(--brand-font-color);
                    }
                }
                .nav-menu{
                    &>.menu-item{
                        padding-top: 0.25rem !important;
                        padding-bottom: 0.25rem !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                    }
                    .menu-title{
                        max-width: 68%;
                    }
                    i,span{
                        vertical-align: middle;
                    }
                    i{
                        font-size: 1.2rem;
                    }
                    a{
                        display: block;
                        text-decoration: none;
                        padding: 0.25rem 10px;
                    }
                    ul{
                        list-style: none;
                        padding: 0px;
                        padding-left: 1rem;
                    }
                    .menu-parent{
                        &.expand > .sub-menu{
                            display: inherit;
                        }
                        .sub-menu{
                            position: relative;
                            background: #00000047;
                            margin-top: 0.5rem;
                            li{
                                &:before{
                                    background: #ffffff40;
                                    bottom: auto;
                                    content: "";
                                    height: 8px;
                                    left: 5%;
                                    margin-top: 11px;
                                    position: absolute;
                                    right: auto;
                                    width: 8px;
                                    z-index: 1;
                                    border-radius: 50%;
                                }
                            }
                            &:after{
                                border-left: 8px solid #ffffff0d;
                                bottom: 0;
                                content: "";
                                left: 5%;
                                position: absolute;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.custom-scroll{
    .scroll-x, .scroll-y{
        display: none;
        &.show{
            display: inherit;
        }
    }
}

section.main{
    top: 46px;
    left:0px;
    right: 0px;
    bottom: 0px;
}

#sidebar-left{
    &.show{
        display: block !important; 
    }
}

#notifications-header,#user-header{
    .dropdown-menu{
        padding: 0px;
        left: auto;
        right: 7px !important;
        a{
            padding: 10px 12px;
            color: var(--left-panel-font-color);
            text-decoration: none;
            font-size: 13px;
            display: block;
        }
        .fan{
            width: 100%;
            height: 15px;
            background: none;
            position: absolute;
            top: -15px;
        }
        &::after{
            border-bottom: 6px solid #2b2e33;
            border-left: 6px solid rgba(0, 0, 0, 0);
            border-right: 6px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            right: 10px;
            top: -6px;
        }
    }
    &:hover .dropdown-menu{
        display: block;
    }
}

#notifications-header{
    .badge-header{
        font-size: 10px;
        padding: 2px 5px;
        position: relative;
        right: 8px;
        top: -8px;
        border-radius: 8px;
    }
    .dropdown-menu{
        top: 85%;
        .topbar-notification{
            width: 200px;
            max-width: 200px;
            max-height: 30vh;
        }
        background: var(--nav-bar-bg-color);
        color: var(--nav-bar-font-color);
        .dropdown-header{
            background: var(--left-panel-bg-color);
            color: var(--left-panel-font-color);
            p{
                font-size: 12px;
            }
        }
        .message{
            strong{
                color: var(--dark);
            }
            small{
                font-size: 12px;
            }
            p{
                margin-bottom: 5px;
                font-style: italic;
                font-size: 12px;
            }
            a{
                padding: 0px;
            }
        }
    }
}

#user-header{
    .usr-img{
        padding: 2px;
        max-height: 45px;
        width: auto;
    }
    .dropdown-menu{
        background: var(--left-panel-bg-color);
        color: var(--left-panel-font-color);
    }
}