@use 'variables';
:root{
    @each $theme,$list in variables.$themes {
        @each $key,$val in $list {
            --#{$theme}-#{$key}:#{$val};
        }
    }
    --primary:#f8f8f8;
    --secondary:#f8f8f8;
    --tertiary:#f8f8f8;
    --nav-bar:#f8f8f8;
}

*{
    transition: all 0.5s ease;
}

body{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.body{
    @each $theme, $list in variables.$themes {
        &.#{$theme}{
            --primary: #{map-get($list,"primary")};
            --secondary: #{map-get($list,"secondary")};
            --tertiary: #{map-get($list,"tertiary")};
            --nav-bar: #{map-get($list,"nav-bar")};
        }
    }
    background-color:var(--tertiary);
    .container-fluid{
        .nav-bar{
            height: 46px;
            max-height: 46px;
            box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
            z-index: 2030;
            position: relative;
            background-color: var(--nav-bar);
            &.brand{
                background-color:var(--primary);
            }
        }
        .row{
            &.left-panel, &.main{
                margin-top: -46px;
                padding-top: 46px;
            }
            .left-panel{
                background: var(--secondary);
                color: white;
            }
        }
    }
}
section.main{
    top: 46px;
    left:0px;
    right: 0px;
    bottom: 0px;
}